

.fabric{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.fabric > .carousel{
    background-color: black;
}

.fabric>h4{
    color: white;
  margin:0;
  font-family: 'Square Peg', cursive;
    font-size: 45px;
    background-color: black;
}


.fabric-image{
   width: 300px;
   height: 200px;
  
}

.image-div{
    width: 100px;
    height: 100px;
    

}

.grid-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
}

.grid-image>img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
}

.desc-content{
    margin: 80px;

}
/* 

 .slider {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .slider-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
  }
  
  .sright-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .sleft-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .sslide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .sslide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  .fabric-container>h4{
  margin:0;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}


 */
