.productspages{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 40px;
    padding-top: 30px;
    background-image: url('../About/bg.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

.prodpagegalsection{
    flex-direction: row;
    display: flex;
    width: 50%;
    justify-content: center;
}

.imgselection{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.imgselection img{
    height: auto;
    width: 90px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.prodpagedatasection
{
    width: 50%;
    display: flex;
    flex-direction: column;
 
    /* margin-bottom: 60px; */

}

.productname{
    /* font-weight: 700px; */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    /* margin-bottom: 30px; */
}


.productprice{
    font-weight: 500;
    color: #7026A0;
    font-size: 30px;
}

.productdescriptiontitle{
    font-weight: 600;
    margin-top: 25px;
    font-size: 20px;
}

.productdescription{
    /* margin-top: 25px; */
    width: 80% ;
}

.washcarediv{
    margin-top: 25px;
    /* width: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sku{
    margin-top: 20px;
}

.producttabs{
    margin-top: 10px;
}

.Interestedbutton{
    background: #4C2A76;
    box-shadow: 0px 8px 12px rgba(76, 42, 118, 0.4);
    border-radius: 10.8609px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.7471px;
    line-height: 30px;
    text-align: center;
    color: #FFB8BC;
    outline: none;
    width: 200px;
    height: 45px;
    margin-top: 30px;
    cursor: pointer;
}

.internationaldelivery{
    margin-top: 20px;
    color: #4C2A76;
}

.mainimg{
    width: 420px;
    height: 500px;
    border-radius: 20px;
}

.productname1
{
    display: none;
}

.productprice1{
    display: none;
}

@media only screen and (max-width:1024px) {
    .mainimg{
        width: 320px;
        height: 400px;
        border-radius: 20px;
    }

    .imgselection img{
        height: auto;
        width: 60px;
        margin-top: 20px;
        border-radius: 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width:700px)  {

    .productname{
        margin-top: 30px;
    }

    .internationaldelivery{
        margin-top: 20px;
        color: #4C2A76;
        text-align: center;
    }

    .producttabs{
        text-align: center;
    }

    .resclass{
        justify-content: center !important; 
    }

    .mainimg{
        width: 240px;
        height: 320px;
        border-radius: 20px;
    }

    .imgselection img{
        height: auto;
        width: 50px;
        margin-top: 20px;
        border-radius: 20px;
        cursor: pointer;
    }
    .productspages{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 40px;
        padding-top: 30px;
        background-image: url('../About/bg.svg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;
        align-items: center;
    }

    .prodpagedatasection
    {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 60px; */
    }

    .responsiveTitle{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    .productname{
        display: none;
    }

    .productprice{
        display: none;
    }

    .productname1{
        display: block;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
    }

    .productprice1{
        display: block;
        font-weight: 500;
        color: #7026A0;
        font-size: 30px;
    }

    .productdescription{
        text-align: center;
    }
}