.landsec1{
    height: 450px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.landiconsdiv{
    display: flex;

}


.landbgdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.landtit{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 40px;
}

.landiconsdiv{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.landiconsdiv p{
    margin-top: 20px;
}

.landser{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.landser2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-top: 100px;
}

.servcaro{
    margin-top: 40px;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

.servcarocont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 162px;
    background-color: #270641;
    height: 323px;
    width: 225px;
    padding: 20px;
    cursor: pointer;
}
.servcarocont img{
    height: auto;
    width: 150px;
    margin-bottom: 10px;
}

.servcarocont span{
    color: #FFB8BC;
    font-size: 20px;
    text-align: center;
    /* margin-top: 10px; */
}


.caro{
    width:500px !important;
}
.carousel-inner{
width: 1150px;
}

@media only screen and (max-width:1200px){
    .carousel-inner{
        width: 900px;
        }
        
}