.getpamperedpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.getpamperedBar{
    /* width: 100%;
    height: 600px; */
    background-color: #270641;
    display: flex;
    align-items: center;
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/teenz-fe41d.appspot.com/o/Header%20(2).png?alt=media&token=6970ac9a-5e40-4dae-a80f-f12a73ba0a59"); */
    justify-content: center;
    /* background-image: url(path-to-file/img.jpg); */
    background-repeat:no-repeat;
    background-position: center ;
    background-size: contain;
}

.backgroundforgetpam{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../wedbg.svg');
}

.getpamtitle2{
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    /* line-height: 75px; */
    color: #270641;


}

.getpamdetailsdiv{
    display: flex;
    width: 600px;
    align-items: center;
    margin-top: 30px;
    justify-content: flex-start;
}



.getpamdetailsdiv span{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
    color:#270641;
}

.getpamdetailsdiv2{
    display: flex;
    width: 600px;
    align-items: center;
    margin-top: 10px;
    justify-content: flex-end;
}
/* 
.getpamdetailsdiv2 svg{
    height: auto;
    width: 90px;
} */

.getpamdetailsdiv2 span{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color:#270641;
}

.tagimg{
    height: auto;
    /* width: 80%; */
}


.tagimgcontainer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagimgcontainer svg{
    width: 70%;
    height: auto;

}

.getpamlines{
    font-size: 28px;
    padding: 10px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-top: -28px;
}
.getpamdetailsdiv>img{
    width: 115px;
    height: 120px;
}
.getpamdetailsdiv2>img{
    width: 115px;
    height: 120px;
}

@media only screen and (max-width:700px){
    .getpamdetailsdiv{
        width: 90%;
    }

    .gpl2{
        margin-bottom: 60px;
        margin-top: -15px;
    }


    .getpamdetailsdiv2{
        width: 90%;
    }
    

    .tagimgcontainer{
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .tagimgcontainer svg{
        width: 96%;
        height: auto;
    
    }
}