.getpamperedpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundforgetpam{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('./Mask\ group.svg');
}

.getpamtitle2{
    margin-top: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 75px;


    color: #270641;


}

.getpamdetailsdiv{
    display: flex;
    width: 600px;
    align-items: center;
    margin-top: 40px;
    justify-content: flex-start;
}

.getpamdetailsdiv img{
    height: auto;
    width: 90px;
}

.getpamdetailsdiv span{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.getpamdetailsdiv2{
    display: flex;
    width: 600px;
    align-items: center;
    margin-top: 22px;
    justify-content: flex-end;
}

.getpamdetailsdiv2 svg{
    height: auto;
    width: 90px;
}

.getpamdetailsdiv2 span{
    margin-right: 30px;
    font-size: 22px;
    font-weight: 600;
}

.tagimg{
    height: auto;
    /* width: 80%; */
}


.tagimgcontainer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagimgcontainer svg{
    width: 70%;
    height: auto;

}

.getpamlines{
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
}