.optionsdiv
{
    margin-top: 20px;
}

.customBanner{
    height: 600px;
    overflow: hidden;
    width: 100%;
    background-color: #270641;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/teenz-fe41d.appspot.com/o/header.png?alt=media&token=6f9cb77f-ed1f-4c1b-ac49-1401cf530e29");
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.optionstitle{
    /* margin-top: 20px; */
}

.optionsbtndiv{
    margin-top: 10px;
}


.optionsbtn{
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.258);
    color: rgba(0, 0, 0, 0.608);
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    
}

.optionsbtn:focus, .optionsbtn:focus{
    outline: none;
}

.optionsbtnselected{
    background-color: #4C2A76;
    color: #FFB8BC;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.steps{
    display: flex;
    flex-direction: column;
}