.weddingbanner{
    height: 600px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/teenz-fe41d.appspot.com/o/Group%20705.png?alt=media&token=2ba34763-aa97-4793-b1c9-7f49cf22df66');
    display: flex;
    background-color: #270641;
    align-items: center;
    justify-content: center;
    /* background-image: url(path-to-file/img.jpg); */
    background-repeat:no-repeat;
    background-position: center ;
    background-size: contain;
}

.weddingbannerinner{
    width: 100%;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    /* padding: 40px; */
    justify-content: center;
    flex-direction: column;
    background-color: #270641;
}

.wb1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #FFB8BC;
}

.wb2{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-align: center;
    color: #FFB8BC;
    margin-top: 20px;
    letter-spacing: 2px;
    font-style: italic;

}

.wedsec1{
    display: flex;  
    width: 80%;
    align-items: center;
    /* margin-top: 100px; */
    /* justify-content: space-evenly; */

}

.wedsec2{
    display: flex;  
    width: 80%;
    align-items: center;
    flex-direction: row-reverse;
   
}

.wedsec2 img{
    height: auto;
    width: 350px;
}

.wedsec1img{
    width: 30%;
}

.wedsec1 img{
    height: auto;
    width: 350px;
}

.wedsec1cont{
    width: 40%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.wedsec2cont{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end  ;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}




.weddingforms{
    width: 80%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.weddingt2{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color:#270641;
    /* align-self: flex-start; */
}

.datewidth{
    width: 500px;
    margin-top: 30px;
}

.weddingbookbtn{
    border: none;
    background-color: #4C2A76;
    color: #FFB8BC;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weddingforms{
    margin-bottom: 100px;
}

.weddingbg{
    background-image: url("../wedbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width:100%;
}