.faq-container{
    display: flex;
    height: 100%;
    width:100%;
    flex-direction: column;
    margin-top: 200px;
    justify-content: space-evenly;
    align-items: center;
}

.accordion{
 width:1200px;
border: 1px solid black;
;
margin-top: 20px;
}