.faq-container{
    display: flex;
    background-image: url("./bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.faq-inner{
  width: 95%;

}


.accordion{  
    border: 1px solid black;

}

/* .outeraccordion{
  background-color: #4C2A76;
  color: #FFB8BC;
  border-radius: 30px;
} */