.contactuspage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #DDFDFF; */
}
.contactbanner{
    height: 500px;
    overflow: hidden;
    width: 100%;
    background-color: #270641;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactbannerinner{
    width: 60%;
    height: 200px;
    /* background-color: white; */
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('./Rectangle\ 58.png');
    background-position: center;
    background-repeat: no-repeat;
    color: #FFB8BC;
    font-weight: 400;
}   
.cu1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}

.cuT{
    font-size: 40px;
}

.CuU{
    font-weight: 200;
    letter-spacing: 4px;
}

.bgcontact{
    background-image: url('./Contact\ us-\ FinalBG.png');
    width: 100%;
  
    background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainsection{
   
    width: 100%;
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
   
    
}

.mainsectionleft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    width: 40%;
    background-color: #4C2A76;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainsectionright{
    height: 620px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #4C2A76; */

}



.mainsecheader{
    background-color: #4C2A76;
    color: #FFB8BC;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.contactsend{
    border: none;
    background: #4C2A76;
    box-shadow: 0px 6px 14px -2px rgba(76, 42, 118, 0.65);
    border-radius: 7px;
    width: 230.14px;
    height: 55.85px;
    color: #FFB8BC;
    font-size: 20px;
}

.msl1{
    color: #FFB8BC;
    font-size: 45px;
    font-weight: 600;
}

.msl2
{
    color: #FFB8BC;
    font-size: 25px;
    font-weight: 400;
}

.msl3{
    color: #FFB8BC;
    font-size: 20px;
    margin-top: 10px;
}

.loca{
    width: 100%;
    /* background-color: #DDFDFF; */
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 40px;
}

.locainner{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.locainner span{
    color: #FFB8BC;
    font-size: 17px;
    margin-left: 20px;
}

.locainner i{
    font-size: 18px;
    color: #DDFDFF;
}

.locainner2{
    display: flex;
    flex-direction: column;
}

.locainner2 img{
    height: auto;
    width: 30px;
    margin-left: 20px;
}


@media screen and (max-width: 800px) {
    .mainsection{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .mainsectionleft{
        height: 520px;
        width: 90%;
        background-color: #4C2A76;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainsectionright{
        height: 620px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: #4C2A76; */
    }
    .mainsectionright{
        height: 620px;
        width: 90%;
    }
    .locainner{
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .clogo{
        width: 350px;
        height: 45px;
        margin-top: -20px;
    }
    

  }