@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.footercontainer{
    height: 300px;
    background-color: #270641;
    overflow: hidden;
    width: 100%;
}


.footerinnercontainer{
    height: 100%;
    margin-top: 10px;
    display: flex;
    padding: 10px;
    color: white;
    justify-content: space-evenly;
}

.foot-logo{

    width:214px;
    height: 200px;
}

.details > h3{
    font-size: 2em;
    letter-spacing:6px;
    font-family: 'Great Vibes', cursive;
    cursor: pointer;
}
.footerinnercontainer > div{
    padding:8px;
    font-size: 17px;
    font-family: 'Josefin Sans', sans-serif;
}

.footerinnercontainer >h4{
    margin-top: 10px;
    coolor:#FFB8BC;
    opacity: 0.5;
    /* font-family: 'Josefin Sans', sans-serif; */
}
.column{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
}
.column >p{
   
    font-size: 1.4rem;
    color:#FFB8BC;
}
.column >h4{
    font-size: 0.9rem;
    color:#FFB8BC;
    opacity: 0.5;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
    cursor:pointer;
}

.details{
    flex:0.6;
}


.footer-links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer-links > a>img{

    margin: -3px 10px 10px ;
    width: 50px;
    height:50px;
}

.foot-link-wa{
    margin: -3px 10px 10px ;
    width: 30px;
    height:30px;
}


.footer-text{
    color:#FFB8BC;
}


@media screen and (max-width: 600px) {
    .footerinnercontainer{
        padding: 1px;
        
        margin-left: 10px;
        margin-right: 10px;
    }
    .details > h3{
        font-size: 1.3em;
    }
    .details >div{
        font-size: 0.9em;
    }
    .column >p{
        font-size: 1.2rem;
    }
    .column >h4{
        font-size: 0.9rem;
    }
    img{
        width: 25px;
        height: 25px;
    }
    .footer-links > img{

        margin: 0px;
    }
  }


  @media screen and (max-width: 500px) {
    .footerinnercontainer{
        padding: 1px;
        
        margin-left: 10px;
        margin-right: 10px;
    }
    .details > h3{
        font-size: 1.2em;
    }
    .details >div{
        font-size: 0.9em;
    }
    .column >p{
        font-size: 1.0rem;
    }
    .column >h4{
        font-size: 0.9rem;
    }
    img{
        width: 25px;
        height: 25px;
    }
    .footer-links > img{

        margin: 0px;
    }
  }
  