.policontainer{
    display: flex;
    background-image: url("./bg.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
